div#crafting-tools {
    border: 1px solid;
    padding: 5px;
    width: fit-content;
}

a.remove-row {
    cursor: pointer;
    font-weight: 700;
    font-size: large;
    color: red;
}

table.crafting-table tbody > tr {
    text-align: center;
}

table#worker-table th:first-child {
    min-width: 140px;
}

table.crafting-table th {
    color: white;
    background-color: black;
    padding: 1px 3px;
}

table.crafting-table {
    border: 1px solid;
}

div.crafting-option {
    padding: 0 0 3px;
}